.head-wrapper {
  position: relative;
  height: 150px;
  overflow: visible;
  z-index: 2;
}

.head-carousel-image {
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
}

.head-carousel-image svg {
  max-height: 180px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: black;
}